<header>
    <div class="menu list-group">
        <nav class="">
            <ul class="">
                <li class="">
                    <img src="imagenes/logito.png" alt="" style="width: 65px; margin-left: 10px; margin-right: 50px;">
                </li>
                <li>
                    <a class="" href="#list-item-1">¿Qué es COINSA?</a>
                </li>
                <li>
                    <a class="nav-link" href="#list-item-2">¿Quiénes somos?</a>
                </li>
                <li>
                    <a class="nav-link" href="#list-item-3">Nuestro equipo de trabajo</a>
                </li>
                <li>
                    <a class="nav-link" href="#list-item-4">Contáctenos</a>
                </li>
            </ul>
        </nav> 
    </div>
</header>

<footer>
    <p class="text-center"> 2020&copy;</p>
</footer>