{% extends 'base.html' %}

<!--Variables de entorno de html-->
{% block titulo %}Repo Developer | Brochure de programador{% endblock %} 
{% block contenido %} 
{% load static %}




<div class="jumbotron bg-dark">
    <img src="imagenes/fon.jpeg" alt="" height="350px" width="1350px">
</div>
<hr class="my-4">
<div class="container" style="margin-top:80px;">
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
        <div style="padding: 10px; height: 500px;">
            <h1 id="list-item-1" class="text-center text-success" style="position: relative; top:30px;">¿Qué es COINSA?</h1>
            <div class="row justify-content-md-center">
                <img src="imagenes/3190343.jpg" alt="" style="width: 300px;  position: relative; right: 60px;">
                <p style="width: 500px; display: flex; align-items: center; font-size: 20px;">
                    COINSA es una aplicacion web de control de inventario que está especialmente diseñada para la Fundacion Saciar. Esta aplicacion
                    cuenta con formularios para los registros de sus productos y vistas para visualizar que contiene su bodega.
                </p>
                <p style=" display: flex; align-items: center; font-size: 20px;">
                    Si quieres saber más sobre nuestra Fundacion Saciar, da
                    <a href=""> Click Aquí</a>
                </p>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <div class="col justify-content-md-center" style="padding: 10px; border-radius: 15px; background: #ECF3F4;">
            <h1 id="list-item-2" class="text-center text-success">¿Quiénes somos?</h1>
            <br>
            <div class="row justify-content-md-center">
                <img src="imagenes/quienes.jpg" alt="" style="width: 400px; margin-right: 50px;">
                <p style="width: 500px; font-size: 20px;">
                    somos un grupo de aprendices Sena, que nos capasitamos para desarrollar una app que pueda ser util para los usuarios.
                    Nuestras diferentes personalidades y capacidades nos ayudann   a unirnos como
                    equipo para dar nuevas ideas para un sistema de inventarios
                </p>
            </div>
        </div>
        <br>
        <br>
        <hr>
    </div>
</div>